<div class="wig-card d-inline-flex p-2 justify-content-center align-items-center">
  <div class="wig-picture">
    <%= cl_image_tag @wig.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="wig-description m-3 d-flex flex-column">
    <div class="wig">
      <h2><%= @wig.name %></h2>
      <p><%= @wig.color %></p>
      <p><%= @wig.style %></p>
      <p><%= @wig.size %></p>
      <p><%= @wig.price %> euro sign...</p>
    </div>
    <div class="user">
      <p><%= @wig.user_id %></p>
    </div>
    <div>
      <% if policy(Booking).create? %>
        <%= link_to "Book", new_booking_path %>
      <% end %>
    </div>
  </div>
</div>
<div>
  <%= link_to "Back", wigs_path %>
</div>
