<div class="wig-card d-inline-flex p-2 justify-content-center align-items-center">
  <div>
    <div class="d-flex wig-picture">
      <%= cl_image_tag @wig.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div>
      <% if policy(Booking).create? %>
        <%= link_to "Book", new_wig_booking_path(@wig), class: "buttons btn btn-outline-secondary btn-block mt-3" %>
      <% end %>
      <%= link_to "Edit Wig", edit_wig_path, class: "buttons btn btn-outline-secondary btn-block" %>
      <%= link_to "Back", wigs_path, class: "buttons btn btn-outline-secondary btn-block" %>
    </div>
  </div>
  <div class="wig-description m-3 d-flex flex-column">
    <div class="wig">
      <h2><%= @wig.name %></h2>
      <p><em>Color</em>:  <strong><%= @wig.color %></strong></p>
      <p><em>Style</em>:  <strong><%= @wig.style %></strong></p>
      <p><em>Size</em>:  <strong><%= @wig.size %></strong></p>
      <p><em>Price</em>:  <strong><%= @wig.price %> €</strong></p>
    </div>
    <div class="user">
      <p><%= @wig.user.name %></p>
      <%= cl_image_tag @wig.user.avatar, class: "avatar"  %>
    </div>
    <div>
      <% if policy(Booking).create? %>
        <%= link_to "Book", new_wig_booking_path(@wig) %>
      <% end %>

    <div class="user d-flex flex-column p-2 justify-content-center">
      <div>
        <p><strong><%= @wig.user.name %></strong></p>

        <%= image_tag @wig.user.avatar, class: "avatar"  %>
      </div>
    </div>
</div>
