<h1 class = "title" ><strong>My Amazing Wigs</strong></h1>

<div class="container">
    <div class="row">
      <% @my_wigs.each do |wig| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <%= link_to wig_path(wig) do %>
            <div class="card">
            <%= cl_image_tag wig.photo, crop: :fill %>
              <div class="card-infos">
                <div>
                  <h2>
                    <%= wig.name  %>
                  </h2>
                  <p><%= wig.style %> - <%= wig.color %> - <%= wig.size %></p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

<h1 class = "title" ><strong>My Bookings</strong></h1>

<div class="container">
    <div class="row">
      <% @my_booked_wigs.each do |wig| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <%= link_to wig_path(wig) do %>
            <div class="card">
            <%= cl_image_tag wig.photo, crop: :fill %>
              <div class="card-infos">
                <div>
                  <h2>
                    <%= wig.name %>
                  </h2>
                  <p><%= wig.style %> - <%= wig.color %> - <%= wig.size %></p>
                  <% wig.bookings.each do |wig| %>
                  <p><%= wig.start_date %> | <%= wig.end_date %></p>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
